<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Maseeh Reservations</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th,
        td {
            border: 1px solid black;
            padding: 8px;
            text-align: center;
        }

        .message, .message2 {
            padding: 10px;
            margin-bottom: 10px;
            border-radius: 5px;
        }

        .success {
            background-color: #d4edda;
            color: #155724;
        }

        .error {
            background-color: #f8d7da;
            color: #721c24;
        }

        .tabs {
            display: flex;
        }

        .tabs button {
            padding: 10px 20px;
            margin-right: 10px;
        }
    </style>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">


    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}">

    <script>
        function setUserName(event) {
            // fetch('/set_name', {
            //     method: 'POST',
            //     headers: { 'Content-Type': 'application/x-www-form-urlencoded' },
            //     body: 'user_name=' + encodeURIComponent(event.target.value)
            // });
            // console.log(event.target.value)
        }
        function setPassword(event) {
        //     fetch('/set_password', {
        //         method: 'POST',
        //         headers: { 'Content-Type': 'application/x-www-form-urlencoded' },
        //         body: 'password=' + encodeURIComponent(event.target.value)
        //     });
        //     console.log(event.target.value)
        }
        // Auto-hide messages after 3 seconds
        setTimeout(() => {
            let messages = document.querySelectorAll('.message');
            messages.forEach(msg => msg.style.display = 'none');
        }, 3000);

        function storeScrollPosition() {
            sessionStorage.setItem('scrollPosition', window.pageYOffset);
        }

        window.onload = function() {
            const scrollPosition = sessionStorage.getItem('scrollPosition');
            if (scrollPosition !== null) {
                window.scrollTo(0, scrollPosition);
                sessionStorage.removeItem('scrollPosition');
            }
        }
    </script>
</head>

<body>
    <div id="topbar">
        <div class="topbar" id="myTopbar"
            style="width:100%; height:35px; background-color:#0A122A; top:0;align-items: center;">

            <i style="color:white; position: relative; margin:auto;padding: 10px;top:8px;">Maseeh Reservations</i>
            <script>

                document.getElementById('lang').value = language

                q = window.location.search
                function getParameterByName(name, url) {
                    if (!url) url = window.location.href;
                    name = name.replace(/[\[\]]/g, "\\$&");
                    var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
                        results = regex.exec(url);
                    if (!results) return null;
                    if (!results[2]) return '';
                    return decodeURIComponent(results[2].replace(/\+/g, " "));
                }
                function changelang(val) {
                    if (window.location.search == "") {
                        window.location.search = "?lang=" + val
                    } else {
                        window.location.search = window.location.search.split("&lang=")[0] + "&lang=" + val + "&" + window.location.search.split(language + "&")[1]
                    }
                }
            </script>


        </div>
    </div><br>
    <div id="topbar">
        <div class="topnav responsive" id="myTopnav" style="width:100%">
            <a href="/select_room/media_room">Media Room</a>
            <a href="/select_room/craft_dance_room">Craft/Dance Room</a>
            <a href="/select_room/kitchen">Kitchen</a>
            <a href="/select_room/music_room">Music Room</a>
            <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="myFunction()">&#9776;</a>
        </div>
        <script>
            function myFunction() {
                var x = document.getElementById("myTopnav");
                if (x.className === "topnav") {
                    x.className += " responsive";
                } else {
                    x.className = "topnav";
                }
            }
        </script>
    </div><br>
    <!-- <div class="tabs">
        <button onclick="window.location.href='/select_room/media_room'">Media Room</button>
        <button onclick="window.location.href='/select_room/craft_dance_room'">Craft/Dance Room</button>
        <button onclick="window.location.href='/select_room/kitchen'">Kitchen</button>
        <button onclick="window.location.href='/select_room/music_room'">Music Room</button>
    </div> -->

    <section>
        <h1>Reserve a Time Slot</h1>

        <!-- Flash Messages -->
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="message {{ category }}"  style="position:fixed;top:20px;">
            {{ message }}
        </div>
        
        <div class="message2 {{ category }}"  >
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}

        {% if message %}
        <div class="message {{ 'success' if message_type == 'success' else 'error' }}"   style="position:fixed;top:20px;">
            {{ message }}
        </div>
        <div class="message2 {{ 'success' if message_type == 'success' else 'error' }}"  >
            {{ message }}
        </div>
        {% endif %}

    </section>



    <section>
        <h2>Reservations for <b>{{ room.replace('_', ' ').title() }}</b></h2>
    </section>

    <section>

        <form method="POST">
            <label for="user_name">Your kerb (without @mit.edu):</label>
            <input type="text" name="user_name" class="form-control" value="{{ current_user }}" required
                oninput="setUserName(event)">
            <label for="user_name">Pin:</label>
            <input type="number" name="password" class="form-control" value="{{ password }}" required
                oninput="setPassword(event)">

            <!-- <label for="user_name">Your Name:</label>
            <input type="text" name="user_name" value="{{ current_user }}" required> -->
            <button type="submit" name="set_name" class="btn btn-success">Sign in or Register</button>
        </form>
        <p>Please write down your pin code after you make it. This pin is saved for life. You will have to contact <a href="mailto:maseeh-reservations-chair@mit.edu">maseeh-reservations-chair@mit.edu</a>/MHEC if you forgot your pin. Pins are not stored encrypted so do not use a valuable identifier. </p>

    </section>

    <section>
        <h3>Instructions and Fair use policy (please read):</h3>
    </section>
    <section>
        <ul>
            <li>You may reserve a room as an individual or in groups of up to 5. Select one or more times that you want to reserve for.</li>
            <li>Reservations are first-come, first-serve. If you are reserving as a group have all group members register for a reservation (up to 5).</li>
            <li>As the dance room gets converted to a craft room, you will need pre-authorization/training for it. </li>
            <li>Reservations are currently run on the honor system. If you have not reserved the space, the reservee has
                the right to kick you out. We will start adding electronic code locks on the doors in the coming weeks (not implemented right now).</li>
            <li>Please do not reserve more than 5 consecutive time slots or more than 10 in a week. This is not strictly enforced but we have the right to cancel your reservations if we notice continued abuse</li>
            <li>Reservations are for Maseeh residents only. External members can be invited as guests, but at least one reservee in the group should be a Maseeh resident. We will check residency if we suspect issues.</li>
            <li>MHEC has the right to cancel any reservation or claim a space for Maseeh events. This is expecially important around CPW/REX. Please check your reservations 24hrs before they happen.</li>
            <li>Cancel your reservations if you no longer plan to show up.</li>
            <li>Please contact <a href="mailto:maseeh-reservations-chair@mit.edu">maseeh-reservations-chair@mit.edu</a> with questions.</li>
        </ul>
    </section>

    {% if (current_user == "MHEC") and loggedin %}
    <section>
        <h2>Users</h2>
    </section>
    <section>
        {% for username, password in accounts %}
        <p>{{ username }}: {{ password }}</p>
        {% endfor %}
    </section>
    {% endif %}

    <section>


        <h3>Time Slots</h3>
        <table>
            <tr>
                <th>Time Slot (ET)</th>
                <th>Reservee 1</th>
                <th>Reservee 2</th>
                <th>Reservee 3</th>
                <th>Reservee 4</th>
                <th>Reservee 5</th>
            </tr>
            {% for time, names in reservations_dict.items() %}
            <tr>
                <!-- <td>{{ time.strftime('%A %Y-%m-%d %I:%M %p ET') }}</td> -->
                <td>{{ time.strftime('%a, %b %d %Y, %-I:%M %p ET') }}</td>
                {% set claimed = namespace(value=False) %}
                {% for i in range(5) %}
                <td>
                    {% if names|length > i %}
                    {{ names[i] }}
                    <form method="POST" style="display:inline;" onsubmit="storeScrollPosition()">
                        <input type="hidden" name="reservation_id" value="{{ time }}">
                        <input type="hidden" name="user_name" value="{{ names[i] }}">
                        {% if (names[i] == current_user or current_user == "MHEC") and loggedin %}
                        <button class="btn btn-danger" type="submit" name="cancel">Cancel</button>
                        {% endif %}

                    </form>
                    {% elif not claimed.value and loggedin and not names[0] == "MHEC" %}
                    <form method="POST" onsubmit="storeScrollPosition()">
                        <input type="hidden" name="selected_time" value="{{ time.strftime('%Y-%m-%d %H:%M:%S') }}">
                        <input type="hidden" name="user_name" value="{{ current_user }}">
                        <button class="btn btn-success" type="submit" name="reserve">Claim</button>
                    </form>
                    {% set claimed.value = True %}
                    {% endif %}
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </section>
    <div id="footer">
        <div class="navbar">
            <center>
                <p style="margin-bottom: 0;">MHEC, MIT Maseeh Hall W1, 305 Memorial Drive, Cambridge MA 02139</p>
            </center>
        </div>
    </div>
</body>

</html>