<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Maseeh Reservations</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th,
        td {
            border: 1px solid black;
            padding: 8px;
            text-align: center;
        }

        .message, .message2 {
            padding: 10px;
            margin-bottom: 10px;
            border-radius: 5px;
        }

        .success {
            background-color: #d4edda;
            color: #155724;
        }

        .error {
            background-color: #f8d7da;
            color: #721c24;
        }

        .tabs {
            display: flex;
        }

        .tabs button {
            padding: 10px 20px;
            margin-right: 10px;
        }
    </style>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">


    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}">

    <script>
        function setUserName(event) {
            // fetch('/set_name', {
            //     method: 'POST',
            //     headers: { 'Content-Type': 'application/x-www-form-urlencoded' },
            //     body: 'user_name=' + encodeURIComponent(event.target.value)
            // });
            // console.log(event.target.value)
        }
        function certSetUserName(kerb) {
            fetch('/cert_set_name', {
                method: 'POST',
                headers: { 'Content-Type': 'application/x-www-form-urlencoded' },
                body: 'user_name=' + encodeURIComponent(kerb)
            });
            console.log(kerb)
        }
        function setPassword(event) {
        //     fetch('/set_password', {
        //         method: 'POST',
        //         headers: { 'Content-Type': 'application/x-www-form-urlencoded' },
        //         body: 'password=' + encodeURIComponent(event.target.value)
        //     });
        //     console.log(event.target.value)
        }
        // Auto-hide messages after 3 seconds
        setTimeout(() => {
            let messages = document.querySelectorAll('.message');
            messages.forEach(msg => msg.style.display = 'none');
        }, 3000);

        function storeScrollPosition() {
            sessionStorage.setItem('scrollPosition', window.pageYOffset);
        }

        window.onload = function() {
            const scrollPosition = sessionStorage.getItem('scrollPosition');
            if (scrollPosition !== null) {
                window.scrollTo(0, scrollPosition);
                sessionStorage.removeItem('scrollPosition');
            }
        }
    </script>
</head>

<body>
    <div id="topbar">
        <div class="topbar" id="myTopbar"
            style="width:100%; height:35px; background-color:#0A122A; top:0;align-items: center;">

            <i style="color:white; position: relative; margin:auto;padding: 10px;top:8px;">Maseeh Reservations</i>
            <script>

                document.getElementById('lang').value = language

                q = window.location.search
                function getParameterByName(name, url) {
                    if (!url) url = window.location.href;
                    name = name.replace(/[\[\]]/g, "\\$&");
                    var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
                        results = regex.exec(url);
                    if (!results) return null;
                    if (!results[2]) return '';
                    return decodeURIComponent(results[2].replace(/\+/g, " "));
                }
                function changelang(val) {
                    if (window.location.search == "") {
                        window.location.search = "?lang=" + val
                    } else {
                        window.location.search = window.location.search.split("&lang=")[0] + "&lang=" + val + "&" + window.location.search.split(language + "&")[1]
                    }
                }
            </script>


        </div>
    </div><br>
    <div id="topbar">
        <div class="topnav responsive" id="myTopnav" style="width:100%">
            <a href="/">Home</a>
            <a href="/select_room/media_room">Game Room</a>
            <a href="/select_room/craft_dance_room">Craft Room</a>
            <a href="/select_room/kitchen">Kitchen</a>
            <a href="/select_room/music_room">Music Room</a>
            <a href="/admin">Admin</a>
            <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="myFunction()">&#9776;</a>
        </div>
        <script>
            function myFunction() {
                var x = document.getElementById("myTopnav");
                if (x.className === "topnav") {
                    x.className += " responsive";
                } else {
                    x.className = "topnav";
                }
            }
        </script>
    </div><br>
    <!-- <div class="tabs">
        <button onclick="window.location.href='/select_room/media_room'">Media Room</button>
        <button onclick="window.location.href='/select_room/craft_dance_room'">Craft/Dance Room</button>
        <button onclick="window.location.href='/select_room/kitchen'">Kitchen</button>
        <button onclick="window.location.href='/select_room/music_room'">Music Room</button>
    </div> -->

    <section>
        <h1>Home</h1>

        <!-- Flash Messages -->
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="message {{ category }}"  style="position:fixed;top:20px;">
            {{ message }}
        </div>
        
        <div class="message2 {{ category }}"  >
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}

        {% if message %}
        <div class="message {{ 'success' if message_type == 'success' else 'error' }}"   style="position:fixed;top:20px;">
            {{ message }}
        </div>
        <div class="message2 {{ 'success' if message_type == 'success' else 'error' }}"  >
            {{ message }}
        </div>
        {% endif %}

    </section>



    <section>
        <h2>Reservations for <b>
            <!-- {{room}} -->
            {% if (room == "craft_dance_room") %}
            Craft Room (former dance room)
            {% elif (room == "media_room") %}
            Game Room (former media room)
            {% elif (room == "kitchen") %}
            Kitchen
            {% elif (room == "music_room") %}
            Music Room
            {% endif %}


            <!-- {{ room.replace('_', ' ').title() }} -->
        </b></h2>
    </section>
    <section>
        <button type="button" onclick="document.getElementById('kerbauth').style.display = 'block'; document.getElementById('ifr').src='https://seshan.scripts.mit.edu:444/cert/testenc.php'" name="set_name" class="btn btn-success">Sign in with MIT Certificates</button>
        <a href="/login" class="btn btn-success">Log in with MIT Touchstone</a>

        <button type="button" onclick="document.getElementById('oldauth').style.display = 'block';"  class="btn btn-success">Sign in with Old or Admin login</button>

        <form method="POST">
            <input style="display: none;" type="text" name="logout" class="form-control" value="True">
            <button type="submit" name="set_name" class="btn btn-danger">Log out</button>
        </form>

        <p><b>Logged in as:</b><br>
            Username: {{ current_user }}<br>
            Password: {{ password }}
        </p>


    </section>

    <section id="oldauth" style="display: none;">
        <p>Old login is not recommended. Please use a more secure option.</p>
        <form method="POST">
            <label for="user_name">Your kerb (without @mit.edu):</label>
            <input type="text" name="user_name" class="form-control" value="{{ current_user }}" required
                oninput="setUserName(event)">
            <label for="user_name">Pin:</label>
            <input type="number" name="password" class="form-control" value="{{ password }}" required
                oninput="setPassword(event)">

            <!-- <label for="user_name">Your Name:</label>
            <input type="text" name="user_name" value="{{ current_user }}" required> -->
            <button type="submit" name="set_name" class="btn btn-success">Sign in</button>
        </form>
        <p>Please write down your pin code after you make it. This pin is saved for life. You will have to contact <a href="mailto:maseeh-reservations-chair@mit.edu">maseeh-reservations-chair@mit.edu</a>/MHEC if you forgot your pin. Pins are not stored encrypted so do not use a valuable identifier. </p>
        <!-- <p>Or...(recommended)</p> -->

    </section>

    <section id="kerbauth" style="display: none;">
        <iframe style="background-color: white !important;" width="80%" src="" name="iframe" id="ifr"></iframe>
        <script>
            function procLogin(data) {
                // line = data.split(",")
                // kerb = line[0].split("@")[0]
                // name = line[1]
                // console.log(kerb)
                // console.log(name)
                // if (kerb != "") {
                //     document.getElementById("kerb_user_name").value = kerb
                //     document.getElementById("kerb_user_form").submit()
                // }
                document.getElementById("kerb_user_name").value = data
                document.getElementById("kerb_user_form").submit()
                // certSetUserName(kerb);
            }
            window.addEventListener("message", e => procLogin(e.data));
        </script>

        <form method="POST" id="kerb_user_form" style="display: none;">
            <input type="text" id="kerb_user_name" name="kerb_user_name" class="form-control">

            <button   id="kerb_user_submit" type="submit" name="set_name" class="btn btn-success">Sign in with cert</button>
        </form>


    </section>

    <section>
        <h3>Instructions and Fair use policy (please read):</h3>
    </section>
    <section>
        <ul>
            <li>You may reserve a room as an individual or in groups of up to 5 for 1 week at a time. Select one or more times that you want to reserve for.</li>
            <li>Reservations are first-come, first-serve. If you are reserving as a group have all group members register for a reservation (up to 5).</li>
            <li>As the dance room gets converted to a craft room, you will need pre-authorization/training for it. </li>
            <li>Reservations are currently run on the honor system. If you have not reserved the space, the reservee has
                the right to kick you out. The kitchen requires an electronic code that will be generated by this system.</li>
            <li>Please do not reserve more than 5 consecutive time slots or more than 10 in a week. This is not strictly enforced but we have the right to cancel your reservations if we notice continued abuse</li>
            <li>Reservations are for Maseeh residents only. External members can be invited as guests, but at least one reservee in the group should be a Maseeh resident. We will check residency if we suspect issues.</li>
            <li>MHEC has the right to cancel any reservation or claim a space for Maseeh events. This is expecially important around CPW/REX. Please check your reservations 24hrs before they happen.</li>
            <li>Cancel your reservations if you no longer plan to show up.</li>
            <li>Please contact <a href="mailto:maseeh-reservations-chair@mit.edu">maseeh-reservations-chair@mit.edu</a> with questions.</li>
            <li>You do not need to make a reservation in advance. You can make a reservation during the current time slot if there is an opening.</li>
            <li>Courtyard and PDR reservations are only through emailing MHEC <a href="mailto:maseeh-reservations-chair@mit.edu">maseeh-reservations-chair@mit.edu</a> and Jhon Gonzalez <a href="mailto:jhonfg@mit.edu">jhonfg@mit.edu</a>.</li>

        </ul>
    </section>
    <section>
        <h3>Report any issues with cleanliness</h3>
    </section>
    <section>
        Please use this form: <a href="https://forms.gle/cdmEx4gtCSJdbZwbA">https://forms.gle/cdmEx4gtCSJdbZwbA</a>. Please email <a href="mailto:maseeh-reservations-chair@mit.edu">maseeh-reservations-chair@mit.edu</a> if you need quick response.
    </section>

    {% if (room == "craft_dance_room") %}

    <section><h3>Important: Requesting Access to Craft Room</h3></section>
    <section>
        <p><b>The Craft Room requires pre-authorization</b> before you can access the room via reservation. You must fill in this form: <a href="https://forms.gle/RZpvPAgcnGSy8CPk9">https://forms.gle/RZpvPAgcnGSy8CPk9</a>.</p>

        <p>The deadline was Wednesday, April 2, 2025, at noon, but we will continue accepting responses that might get added at a mid-semester basis. However, we cannot guarantee submissions after April 2 will get access. Please contact <a href="mailto:maseeh-reservations-chair@mit.edu">maseeh-reservations-chair@mit.edu</a> if you need access urgently. If you filled in the form before the deadline and cannot access the room by tap access after April 5, 2025, please contact us.</p>
    </section>
    {% endif %}

    {% if (room == "kitchen") %}

    <section><h3>Important: Accessing the Kitchen</h3></section>
    <section>
        <p>Once you make a reservation and log in, you will be able to see a "View Code" button. This is a unique code for your time sessions this week. It will be changed frequently so check before you enter the room. Type this code into the keypad on the door to gain access. Please contact us if you have issues.</p>
        <p>You can make a reservation for the current slot to get the code if you want access to cook, use the fridge, or the sinks. We use this system only to keep track of entrances and exits due to make sure the area is kept clean. This should never cause an issue where you do not get to access the room in a timely fashion.</p>
    </section>
    {% endif %}

<!-- 
    {% if (current_user == "MHEC") and loggedin %}
    <section>
        <h2>Users</h2>
    </section>
    <section>
        {% for username, password in accounts %}
        <p>{{ username }}: {{ password }}</p>
        {% endfor %}
    </section>
    {% endif %} -->



    <section>

        <h3>Time Slots     {% if (room == "craft_dance_room") %}
            Craft Room (former dance room)
            {% elif (room == "media_room") %}
            Game Room (former media room)
            {% elif (room == "kitchen") %}
            Kitchen
            {% elif (room == "music_room") %}
            Music Room
            {% endif %}
</h3>
        <table>
            <tr>
                <th>Time Slot (ET)</th>
                <th>Reservee 1</th>
                <th>Reservee 2</th>
                <th>Reservee 3</th>
                <th>Reservee 4</th>
                <th>Reservee 5</th>
            </tr>
            {% set first = namespace(value=False) %}
            
            {% for time, names in reservations_dict.items() %}

            <tr>
                <!-- <td>{{ time.strftime('%A %Y-%m-%d %I:%M %p ET') }}</td> -->
                <td>{{ time.strftime('%a, %b %d %Y, %-I:%M %p ET') }}</td>
                {% set claimed = namespace(value=False) %}
                {% for i in range(5) %}
                <td>
                    {% if names|length > i %}
                    {{ names[i] }}
                    <form method="POST" style="display:inline;" onsubmit="storeScrollPosition()">
                        <input type="hidden" name="reservation_id" value="{{ time }}">
                        <input type="hidden" name="user_name" value="{{ names[i] }}">
                        {% if (names[i] == current_user or current_user == "MHEC") and loggedin and first.value %}
                        <button class="btn btn-danger" type="submit" name="cancel">Cancel</button>
                        

                        {% endif %}

                    </form>
                    {% if (room == "kitchen") %}
                    {% if (names[i] == current_user or current_user == "MHEC") and loggedin and not first.value %}

                    <button class="btn btn-warning" type="button" name="getcode" onclick="alert('Your kitchen code is {{code}}. This code is valid for this time slot only. Do not share.')">View Code</button>
                    {% endif %}

                    {% endif %}

                    {% elif not claimed.value and loggedin and not names[0] == "MHEC" %}
                    <form method="POST" onsubmit="storeScrollPosition()">
                        <input type="hidden" name="selected_time" value="{{ time.strftime('%Y-%m-%d %H:%M:%S') }}">
                        <input type="hidden" name="user_name" value="{{ current_user }}">
                        <button class="btn btn-success" type="submit" name="reserve">Claim</button>
                    </form>
                    {% set claimed.value = True %}
                    {% endif %}
                </td>
                {% endfor %}
            </tr>
            {% set first.value = True %}

            {% endfor %}
        </table>
    </section>
    <div id="footer">
        <div class="navbar">
            <center>
                <p style="margin-bottom: 0;">MHEC, MIT Maseeh Hall W1, 305 Memorial Drive, Cambridge MA 02139</p>
            </center>
        </div>
    </div>
</body>

</html>